.university{
	width: 100%;
    margin: 0 auto;
}
.uni_center{
	    width: 65%;
  margin:10px auto;
    position: relative;
}
.uni_image{
	width:100%;
	height: 300px;

}
.uni_down{
	width: 100%;
	margin:10px auto;
}
.uni_downCat{
	width: 26%;
    display: inline-block;
    
  
    vertical-align: top;

}
.uni_downCatTitle{
	    width: 100%;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    line-height: 50px;
    height: 50px;
}
.uni_downCatCont{
	font-size: 15px;
    height: 25px;
    width: 100%;
    line-height: 25px;
    text-align: left;
    display: inline-block;
    color: #555555;
}
.uni_downCont{
	    width: 65%;
    margin-left: 10px;
    display: inline-block;
}
.uni_downContItem{
	    width: 100%;
    height: 200px;
    border-bottom: 1px solid #e5e5e5;
}
.uni_downContItemImg{
	    width: 20%;
    height: 130px;
    margin: 35px 3%;
    display: inline-block;
    vertical-align: top;
}
.uni_downContItemMain{
	    width: 70%;
    height: 100%;
    display: inline-block;
    margin: 37px 15px;
}
.uni_downContItemTitle{
	width: 100%;
    height: 30px;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    padding: 0 10px;
}
.uni_downContItemCont{
	    width: 100%;
    font-size: 15px;
    word-wrap: break-word;
    padding: 0 10px;
    color: #c4a6a6;
}